STATUS_SYNC_INTERVAL=5
COUNTER_SYNC_INTERVAL=30
TONER_SYNC_INTERVAL=10
DATABASE_URL=sqlite:///./ricoh.db
# SQL Server example using SQL login:
# DATABASE_URL=mssql+pyodbc://ricoh_user:ChangeThisPassword@localhost/RicohMonitor?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes
# SQL Server example using Windows authentication:
# DATABASE_URL=mssql+pyodbc://@localhost/RicohMonitor?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes
APP_SECRET_KEY=ricoh-monitor-change-me
EMERGENCY_ADMIN_USER=admin
EMERGENCY_ADMIN_PASSWORD=change-me
TOKEN_EXPIRE_HOURS=8
CORS_ORIGINS=*
ALERT_WEBHOOK_URL=
ALERT_WEBHOOK_TIMEOUT_SECONDS=5
CACHE_DIR=cache
ADDRESS_BOOK_BROWSER_LOGIN_ENABLED=0
ADDRESS_BOOK_DEBUG_ENDPOINTS_ENABLED=0
